.relative-header{
  position: relative;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/* navbar, logo*/
.logo-text {
  font-family: 'Arvo';
}
nav .brand-logo {
  text-decoration: none;
  font-size: 2.5rem;
}
nav {
  height: 80px;
  line-height: 80px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 80px;
  line-height: 80px;
}
nav .button-collapse i {
  height: 80px;
  line-height: 80px;
}
@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 80px;
  }
}

/*landing page on home.html*/
.landing_img {
    background: url(../img/landing_kairos.jpg);
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(0%);
    background-size: cover;
}
.landing-text {
  font-family: 'Arvo';
  font-size: 200%;
  color: #fff;
  background-color: #6453B3;
  position: absolute;
  top: 400px;
  left: 20%;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }
.material-icons.white { color: #fff; }

/* label color */
  .input-field label {
    color: #fff;
  }
  /* input text field inactive color */
  .input-field input[type=text] {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  /* input email field inactive color */
  .input-field input[type=email] {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  /* input password field inactive color */
  .input-field input[type=password] {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  /* label text focus color */
  .input-field input[type=text]:focus + label {
    color: #fff;
  }
  /* label email focus color */
  .input-field input[type=email]:focus + label {
    color: #fff;
  }
  /* label password focus color */
  .input-field input[type=password]:focus + label {
    color: #fff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 2px solid #7c921b;
    box-shadow: 0 1px 0 0 #7c921b;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 2px solid #7c921b;
    box-shadow: 0 1px 0 0 #7c921b;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #7c921b;
    box-shadow: 0 1px 0 0 #7c921b;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #7c921b;
  }
