<div ng-controller="HomeController">
	
	<h1> Love Reminder Web App </h1> 
	<br>
	<img src = 'https://raw.githubusercontent.com/qianwang1013/LoveReminder/master/LoveReminder_Mobile/app/src/main/res/drawable/lovelogo.jpg'>
	
	<p> First Name: </p> 
	<input type = "text" ng-model = "fname">
	<p> Last Name: </p> 
	<input type = "text" ng-model = "lname"> 
	<p> Gender: </p> 
	<input type = "text" ng-model = "gender"> 
	<p> Age: </p> 
	<input type = "text" ng-model = "age"> 
	<p> Interests: </p> 
	<input type = "text" ng-model = "interests"> 
	<br><br>
	<button ng-click='submit()'> Submit </button> 
	
</div>
	
<section> 

	<p> Sponsored by Google </p>
	<br> 
	<img src = "http://puu.sh/nYCup/c778e0c851.png"> 
	<!-- just a google logo --> 
	
	
</section> 

<link rel="stylesheet" type="text/css" href="homepage.css">
<!-- The CSS is a work in progress... --> 
	